.aboutcourse {
  background-image: linear-gradient(#ff5d5d, #faae71);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));

  margin: 4rem;
  border-radius: 2rem;
  box-shadow: 0 2rem 4rem rgba(black, 0.2);

  animation-name: fadedown;
  animation-duration: 0.4s;
  animation-timing-function: cubic-bezier(0.5, 0.16, 0.6, -0.2);
  transition: all 0.3s;

  &:hover {
    transform: scale(1.03);
  }

  &__left {
    margin: 2rem;
    display: grid;
    grid-template-rows: 1fr 1fr;
    position: relative;
    margin-left: 2rem;

    &--title {
      margin: 1rem;
      width: 25rem;
      font-size: 3rem;
      color: white;
      font-weight: 600;
    }

    &--prof {
      display: grid;
      grid-template-columns: 1fr 2fr;
      position: relative;

      &--image {
        width: 7rem;
        height: 7rem;
        border-radius: 50%;
        justify-self: center;
        align-self: center;
        border-width: 2px;
        border-color: white;
      }

      &--name {
        margin-left: 2rem;
        color: white;
        align-self: center;
        font-size: 1.4rem;
      }
    }
  }

  &__right {
    margin: 2rem;

    &--description {
      color: white;
      font-size: 1.5rem;
    }
  }

  @media (max-width: 2500px) {
    padding: 4rem;
  }
}

@keyframes fadedown {
  0% {
    opacity: 0.1;
    transform: translateY(-2rem);
  }
  70% {
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
