.course-card {
  min-height: 15rem;
  margin: 3rem;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 3fr 1fr;
  background-image: linear-gradient(to right, #8e2de2, #4a00e0);
  box-shadow: 0 2rem 7rem rgba(black, 0.4);
  transition: all 0.5s;
  width: 35rem;

  &:hover {
    transform: translateY(-1rem);
  }

  &__title {
    display: inline-block;
    font-size: 2rem;
    width: 25rem;
    color: white;
    position: relative;
    top: 4rem;
    left: 3rem;
  }

  &__image {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: relative;
    top: 2.5rem;
    right: 0.5rem;
  }
}
