.impression {
  display: grid;
  position: relative;
  top: 4rem;

  animation-name: fadein;
  animation-duration: 0.7s;
  animation-timing-function: ease-in;

  &__heading {
    display: inline-block;
    margin: 8rem;
    margin-bottom: 3rem;
    font-size: 2.5rem;
  }

  &__rating {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    padding: 2rem;
    position: relative;
    top: -2rem;
  }

  &__emoji {
    width: 5rem;
    height: 5rem;
    justify-self: end;
    margin-right: 3rem;
  }

  &__expression {
    display: grid;
    grid-template-columns: 1fr 5fr;
    padding: 1rem;
  }

  &__bar {
    align-self: center;
    position: relative;
    top: 0.7rem;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(2rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
