.othercourses {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  margin-top: 7rem;

  &__heading {
    display: inline-block;
    margin: 4rem;
    font-size: 3rem;
    display: block;
    position: relative;
    left: 3rem;

    animation-name: fadedown;
    animation-duration: 0.8s;
    animation-timing-function: ease-in;
  }

  &__courses {
    margin: 4rem;
    position: relative;
    top: -5rem;
    animation-name: fadedown;
    animation-duration: 0.8s;
    animation-timing-function: ease-in;
  }

  &__find {
    background-color: #444444;
    text-decoration: none;
    justify-self: center;
    padding: 1.5rem 5rem;
    border-radius: 3rem;
    color: white;
    font-weight: bold;
    box-shadow: 0 2rem 2rem rgba(black, 0.1);
    transition: all 0.5s;
    position: relative;
    bottom: 8rem;

    &:hover {
      background-color: darkgrey;
      color: white;
    }
  }
}

@keyframes fadedown {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
