$colors: (
  primary: #414381,
  secondary: #d9b645,
  transparent: transparent,
  white: #ffffff,
  lightblue: #89CCFF,
);

@mixin color-modifiers($attribute) {
  @each $key, $value in $colors {
    &-#{$key} {
      #{$attribute}: #{$value};
    }
  }
}

.color {
  @include color-modifiers($attribute: 'color');
}

@include breakpoint-modifiers {
  &--color {
    @include color-modifiers($attribute: 'color');
  }
}

.bg {
  @include color-modifiers($attribute: 'background-color');
}

@include breakpoint-modifiers {
  &--bg {
    @include color-modifiers($attribute: 'background-color');
  }
}
