/*
Text Decoration
*/
$textDecoration: (underline, line-through, no-decoration);

@mixin textDecoration-modifiers {
  @each $key in $textDecoration {
    .#{$key} {
      text-decoration: #{$key};
    }
  }
}

@include textDecoration-modifiers;

/*
Border
*/

$border: (
  0: 0px,
  2: 2px,
  4: 4px,
  8: 8px,
);
$direction: (
  t: top,
  b: bottom,
  l: left,
  r: right,
);

@mixin border-modifiers($attribute1, $attribute2: '') {
  @each $attribute1_key, $attribute_value in $attribute1 {
    @if $attribute2 == '' {
      &-#{$attribute1_key} {
        border-#{$attribute_value}-width: 1px;
      }
    } @else {
      @each $attribute2_key, $attribute2_value in $attribute2 {
        @if $attribute1_key != 0 {
          &-#{$attribute2_key}-#{$attribute1_key} {
            border-#{$attribute2_value}-width: #{$attribute1_key};
          }
        }
      }
    }
  }
}

.border {
  &-none {
    border: none;
  }
  @include border-modifiers($attribute1: $border);
  @include border-modifiers($attribute1: $direction);
  @include border-modifiers($attribute1: $border, $attribute2: $direction);
}

/*
Border Radius
*/
$borderRadius: (
    none: 0,
    sm: 0.125rem,
    base: 0.25rem,
    md: 0.375rem,
    lg: 0.5rem,
    full: 9999px,
);

$borderRadiusDirection: (
    t: top,
    b: bottom,
    l: left,
    r: right
);

@mixin borderRadius-modifiers($attribute1, $attribute2:'') {
    @each $attribute1_key, $attribute1_value in $attribute1 {
        @if $attribute2 == '' {
            &-#{$attribute1_key} {
                border-radius: #{$attribute1_value};
            }
        } @else {
            @each $attribute2_key, $attribute2_value in $attribute2 {
                &-#{$attribute2_key}-#{$attribute1_key} {
                    border-#{$attribute2_value}-left-radius: #{$attribute1_value};
                    border-#{$attribute2_value}-right-radius: #{$attribute1_value};
                }
            }
        }
    }
}

.rounded {
    @include borderRadius-modifiers($attribute1: $borderRadius);
    @include borderRadius-modifiers($attribute1: $borderRadiusDirection);
    @include borderRadius-modifiers($attribute1: $borderRadius, $attribute2: $borderRadiusDirection);
}