/*
Width
*/
$width: (
  0: 0,
  1: 0.25rem,
  2: 0.5rem,
  3: 0.75rem,
  4: 1rem,
  5: 1.25rem,
  6: 1.5rem,
  8: 2rem,
  10: 2.5rem,
  12: 3rem,
  16: 4rem,
  20: 5rem,
  24: 6rem,
  32: 8rem,
  40: 10rem,
  48: 12rem,
  56: 14rem,
  64: 16rem,
  auto: auto,
  full: 100%,
  screen: 100vw,
);

$height: (
  0: 0,
  1: 0.25rem,
  2: 0.5rem,
  3: 0.75rem,
  4: 1rem,
  5: 1.25rem,
  6: 1.5rem,
  8: 2rem,
  10: 2.5rem,
  12: 3rem,
  16: 4rem,
  20: 5rem,
  24: 6rem,
  32: 8rem,
  40: 10rem,
  48: 12rem,
  56: 14rem,
  64: 16rem,
  auto: auto,
  full: 100%,
  screen: 100vh,
);

@mixin measure-modifiers($type, $attribute) {
  @each $key, $value in $type {
    &-#{$key} {
      #{$attribute}: #{$value};
    }
  }
}

.w {
  @include measure-modifiers($type: $width, $attribute: 'width');
}

@include breakpoint-modifiers {
  &--w {
    @include measure-modifiers($type: $width, $attribute: 'width');
  }
}

.h {
  @include measure-modifiers($type: $height, $attribute: 'height');
}

@include breakpoint-modifiers {
  &--h {
    @include measure-modifiers($type: $height, $attribute: 'height');
  }
}

/*
Max Width
*/

$maxWidth: (
  xs: 20rem,
  sm: 24rem,
  md: 28rem,
  lg: 32rem,
  xl: 36rem,
  2xl: 42rem,
  3xl: 48rem,
  4xl: 56rem,
  5xl: 64rem,
  6xl: 72rem,
  full: 100%,
  screen-sm: 640px,
  screen-md: 768px,
  screen-lg: 1024px,
  screen-xl: 1280px,
  none: none,
);

@mixin maxWidth-modifiers {
  @each $key, $value in $maxWidth {
    &-#{$key} {
      max-width: #{$value};
    }
  }
}

.max-w {
  @include maxWidth-modifiers;
}

@include breakpoint-modifiers {
  &--max-w {
    @include maxWidth-modifiers;
  }
}

/*
Overflow
*/
$overflow: (
  scroll: scroll,
  auto: auto,
  hidden: hidden,
  visible: visible,
);

@mixin overflow-modifiers($direction: '', $prefix: '') {
  @each $key, $value in $overflow {
    &-#{$key} {
      overflow#{$prefix}#{$direction}: #{$value};
    }
  }
}

.overflow {
  @include overflow-modifiers;
}

@include breakpoint-modifiers {
  &--overflow {
    @include overflow-modifiers;
  }
}

.overflow-x {
  @include overflow-modifiers($direction: 'x', $prefix: '-');
}

@include breakpoint-modifiers {
  &--overflow-x {
    @include overflow-modifiers($direction: 'x', $prefix: '-');
  }
}

.overflow-y {
  @include overflow-modifiers($direction: 'y', $prefix: '-');
}

@include breakpoint-modifiers {
  &--overflow-y {
    @include overflow-modifiers($direction: 'y', $prefix: '-');
  }
}

/*
Position
*/
$position: (
  static: static,
  fixed: fixed,
  absolute: absolute,
  relative: relative,
  sticky: sticky,
);

@mixin position-modifiers {
  @each $key, $value in $position {
    .#{$key} {
      position: #{$value};
    }
  }
}

@include position-modifiers;

/*
Position Measurement
*/
$measure: (
  0: 0,
  10p: 10%,
  20p: 20%,
  30p: 30%,
  40p: 40%,
  50p: 50%,
);

$directions: (top, bottom, right, left);

@mixin positionMeasure-modifiers($direction) {
  @each $key, $value in $measure {
    &-#{$key} {
      #{$direction}: #{$value};
    }
  }
}

@mixin direction-modifiers {
  @each $value in $directions {
    .#{$value} {
      @include positionMeasure-modifiers($direction: #{$value});
    }
  }
}

@include direction-modifiers;
